<key>CFBundleShortVersionString</key>
<string>6.2</string>
<key>CFBundleVersion</key>
<string>6.2</string>
<key>CFBundleSourceVersion</key>
<string>6698.99.50.31</string>

<key>CFBundleShortVersionString</key>
<string>6.2.1</string>
<key>CFBundleVersion</key>
<string>6.2.1</string>
<key>CFBundleSourceVersion</key>
<string>6698.99.50.41</string>

<key>CFBundleShortVersionString</key>
<string>7.0</string>
<key>CFBundleVersion</key>
<string>7.0</string>
<key>CFBundleSourceVersion</key>
<string>6897.5</string>




location:

/private/var/stash/Applications/AppleTV.app/Info.plist
